@import "tailwindcss";
@font-face {
  font-family: 'Halcom';
  src: url('/assets/fonts/Halcom-ExtraBold-BF648a71454d82a.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halcom-Medium';
  src: url('/assets/fonts/Halcom-Medium-BF648a714568789.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.bg-foggy-black-white {
  background: linear-gradient(
    to bottom, 
    rgba(183, 181, 181) 0%, 
    rgba(255,255,255,0.7) 80%, 
    #fff 100%
  );
}

.hero-gradient {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
  to bottom,
  rgb(0,0,0) 50%,
  rgba(17, 17, 17, 0.908) 67%,
  rgb(183, 181, 181) 100%
);

}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-down {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.8s ease;
}

.fade-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.8s ease;
}

.fade-right {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}


:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #bec400;
}

html, body { overflow-x: hidden; }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Halcom-medium', sans-serif !important;
}

.section-heading,
.section-text {
  font-family: 'Halcom-medium', sans-serif !important;
  font-style:normal;
}

p, h2 {
  font-family: 'Halcom-medium', sans-serif;
}

.menu-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 99999 !important;
  background-color: black !important;
}
